body {
    margin: 0;
    min-width: 250px;
  }
  

  * {
    box-sizing: border-box;
  }
  .box1 {
    background-color: #900C3F;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  .box1:after {
    content: "";
    display: table;
    clear: both; 
  }
   .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #a86a6a;
  }
  input {
    margin: 0px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
 .div1{
  height: 40px;
  width:98%;
  background-color: #a86a6a;
  margin: 10px;
  display: flex;
  border-radius: 3px;
 }
 .div2{
  height: 30px;
  width: 90%;
  background-color: #a86a6a;
  margin: 10px;
  display: flex;
  font-weight: bold;
  color: white;
 }
 .div2:hover{
    cursor: pointer;
 }
 .div3{
  height: 30px;
  width: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-weight: bold;
 }
 .div3:hover {
  background-color: #f44336;
  color: white;
  cursor: pointer;
}